@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Poppins:wght@300&family=Spline+Sans+Mono&display=swap');

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans Mono', monospace;
*/

:root {
    --paris-daisy: #fff952;
    --cobalt: #024bad;
    --dandelion: #fcde67;
    --maya-blue: #5bccf6;
    --black-pearl: #030e12;
    --off-white: #faf9f6;
    --matte-black: #28282b;
    --grey: #919191;

    --main-bg: var(--paris-daisy);
    --secondary-bg: var(--dandelion);
    --secondary-color: var(--cobalt);
    --primary-text: var(--black-pearl);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
}

ul li a {
    text-decoration: none;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: var(--black-pearl);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--secondary-bg);
}

button {
    opacity: 1;
    padding: 9px 25px;
    background-color: var(--off-white);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: var(--secondary-color);
    opacity: 0.75;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.next-button {
    color: var(--primary-text);
    background-color: var(--off-white);
    border-radius: 10px;
}

.logo {
    cursor: pointer;
    width: 70px;
    height: auto;
}

.nav--links {
    list-style: none;
}

.nav--links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav--links li a {
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.nav--links li a:hover {
    opacity: 0.75;
    color: var(--off-white);
}
  
.content {
    flex: 1 1 0;
    padding: 5rem;
}

.content h2 {
    color: var(--primary-text);
    font-size: 2.5rem;
    margin-bottom: 1.1rem;
}

.content h4 {
    color: var(--primary-text);
    font-weight: normal;
    font-size: 1.75rem;
    margin-bottom: 1.1rem;
}

.content h6 {
    color: var(--primary-text);
    font-size: 0.85rem;
    margin-bottom: 1.1rem;
}

.content .img-display {
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
}

.content .primary-pagebreak {
    text-align: center;
    margin: auto;
    color: var(--main-bg);
}

.content .--center {
    text-align: center;
}

.center--items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-selectors {
    display: inline-block;
    color: var(--primary-text);
    margin: 20px;
    padding: 25px;
    width: 100%;
    border: 7px solid var(--primary-text);
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.content .center--items .box-selectors:hover {
    width: 110%;
    opacity: 0.75;
}

.content .center--items .secondary-pagebreak {
    color: var(--main-bg);
}

.content p {
    color: var(--primary-text);
    font-size: 1.3rem;
}

.wrapper {
    margin-top: 2%;
}

.wrapper h1 {
    /* font-family: ; */
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team-member {
    background-color: var(--off-white);
    margin: 5px;
    margin-bottom: 50px;
    width: 450px;
    padding: 25px;
    line-height: 25px;
    position: relative;
}

.team .team-member h3 {
    color: var(--primary-text);
    font-size: 25px;
    margin-top: 50px;
}

.team .team-member p.role {
    color: var(--primary-text);
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px 0;
}

.team .team-member .team-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    transform: translateX(30%);
}

.footer {
    text-align: center;
    background-color: var(--secondary-bg);
}